/* Following are the presentation styles -- edit away! */

body {
  background: #1077BE url(top.png) no-repeat right top;
  color: #FFF;
  font-family: "Gill Sans", Optima, "Lucida Grande", Lucida, Verdana, sans-serif;
  font-size: 2.25em;
}

:link, :visited {
  text-decoration: none;
  color: #62ccff;
}

#controls :active {
  color: #88A !important;
}

#controls :focus {
  outline: 1px dotted #227;
}

h1, h2, h3, h4 {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

ul, pre {
  margin: 0;
  line-height: 1em;
}

html, body {
  margin: 0;
  padding: 0;
}

blockquote, q {
  font-style: italic;
}

blockquote {
  padding: 0 2em 0.5em;
  margin: 0 1.5em 0.5em;
  text-align: center;
  font-size: 1em;
}

blockquote p {
  margin: 0;
}

blockquote i {
  font-style: normal;
}

blockquote b {
  display: block;
  margin-top: 0.5em;
  font-weight: normal;
  font-size: smaller;
  font-style: normal;
}

blockquote b i {
  font-style: italic;
}

kbd {
  font-weight: bold;
  font-size: 1em;
}

sup {
  font-size: smaller;
  line-height: 1px;
}

.slide {
  background: transparent url(druplicon.png) no-repeat 16px 16px;
}

.slide code {
  padding: 2px 0.25em;
  font-weight: bold;
  color: white;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
  background-color: black;
}

.slide code.bad, code del {
  color: red;
}

.slide code.old {
  color: silver;
}

.slide pre {
  font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
  padding: 0;
  margin: 0.25em 0 0.5em 0.5em;
  color: #533;
  font-size: 90%;
}

.slide pre code {
  display: block;
}

.slide ul {
  margin-left: 5%;
  margin-right: 7%;
  list-style: disc;
}

.slide li {
  margin-top: 0.75em;
  margin-right: 0;
}

.slide ul ul {
  line-height: 1;
}

.slide ul ul li {
  margin: .2em;
  font-size: 85%;
  list-style: square;
}

.slide img.leader {
  display: block;
  margin: 0 auto;
}

div#header, div#footer {
  color: #fff;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

div#header {
  line-height: 1px;
}

div#footer {
  font-size: 0.5em;
  font-weight: bold;
  padding: 1em 0;
  background: transparent url(bottom.png) repeat-x -546px top;
}

#footer h1, #footer h2 {
  display: block;
  padding: 0 1em;
}

#footer h2 {
  font-style: italic;
}

div.long {
  font-size: 0.75em;
}

.slide h1 {
  position: absolute;
  top: 0.7em;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1;
  margin: 0;
  white-space: nowrap;
  font: bold 150%/1em "Gill Sans", Optima, "Lucida Grande", Lucida, Verdana, sans-serif;
  text-transform: capitalize;
  color: #FFF;
}

.slide h3 {
  font-size: 130%;
}

h1 abbr {
  font-variant: small-caps;
}

#plink {
  color: #FFF;
}

div#controls {
  position: absolute;
  left: 60%;
  bottom: 0;
  width: 40%;
  text-align: right;
  font: bold 0.9em Verdana, Helvetica, sans-serif;
}

html>body div#controls {
  position: fixed;
  padding: 0;
  top: auto;
}

#controls #navLinks a {
  padding: 0;
  margin: 0 0.5em;
  background: #FFF;
  border: none;
  color: #1077BE;
  cursor: pointer;
}

#controls #navList #jumplist {
  /*background: #DDD;
  color: #227;*/
}

#currentSlide {
  text-align: center;
  font-size: 0.5em;
  color: #449;
}

#slide0 {
  background: transparent url(across.png) no-repeat;
  padding-top: 3.5em;
  font-size: 90%;
}

#slide0 h1 {
  position: static;
  margin: 1em 0 0;
  padding: 0;
  font: bold 3em "Gill Sans", Optima, "Lucida Grande", Lucida, Verdana, sans-serif;
  white-space: normal;
  color: #FFF;
  background-color: transparent;
}

#slide0 h2 {
  font: bold italic 1em Helvetica, sans-serif;
  margin: 0.25em;
}

#slide0 h3 {
  margin-top: 1.5em;
  font-size: 1.5em;
}

#slide0 h4 {
  margin-top: 0;
  font-size: 1em;
}

ul.urls {
  list-style: none;
  display: inline;
  margin: 0;
}

.urls li {
  display: inline;
  margin: 0;
}

.note {
  display: none;
}

.external {
  border-bottom: 1px dotted gray;
}

html>body .external {
  border-bottom: none;
}

.external:after {
  content: " \274F";
  font-size: smaller;
  color: #62ccff;
}

.incremental, .incremental *, .incremental *:after {
  color: #DDE;
  visibility: visible;
}

img.incremental {
  visibility: hidden;
}

.slide .current {
  color: #FB5;
}

/* diagnostics

li:after {content: " [" attr(class) "]"; color: #F88;}
 */